doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title #{pageTitle}
        link(rel="stylesheet", href="/static/css/index.css")
        //- link(rel="stylesheet", href="/css/product.css")
    body 
        div(class="hide-div hidden" id="hide-div")
        header 
            p Ultimate system log info 
        section(class="main")
            div(class="main_content-sidebar sidebar")
                div(class="main_content-navbar")
                    h2 Connected devices 
                    hr
                div(class="main_content-sidebar-messages", id="main_content-devices")
                

            div(class="main_content")
                div(class="main_content-navbar")
                    h1 Device Management Log 
                    button(id="hide-button") Show Full History 
                    hr
                table(class="main_content-messages")
                    tr
                        th hostname
                        th sensor
                        th message
                        th timestamp 
                    //- tbody(id="main_content")
                    //- div(id="main_content")
                    tbody(id="main_content")
                        
            div(class="log-viewer-container hidden", id="log-viewer-container")
                div(class="log-viewer-container-control")
                    button(class="log-viewer-hide-button", id="log-viewer-hide-button") X
                h2 History 
                div(class="log-viewer-container-view")
                    input(type="text", placeholder="search", id="log-viewer-search")
                    button(class="log-viewer-search-button", id="log-viewer-search-button") search
                div(style="display: flex; flex-direction: row")
                    input(type="radio" id="filter-sensor", name="filter", value="sensor")
                    label(for="sensor") sensor 
                    br
                    input(type="radio", id="filter-hostname", name="filter", value="hostname")
            
                    label(for="hostname") hostname
                    br
                    input(type="radio", id="filter-timestamp", name="filter", value="timestamp")
            
                    label(for="timestamp") timestamp
                    br
                    input(type="radio", id="filter-message", name="filter", value="message")
            
                    label(for="message") message 
                    br
                button(class="log-viewer-sort-button", id="log-viewer-sort-button") sort by time
                section(id="log-viewer", class="log-viewer")
    //- script.
    //-     WEBSOCKEThost = #{WEBSOCKEThost};
    //-     WEBSOCKETport = #{WEBSOCKETport};
    script.
        const wshost = !{jsStringify(wshost)};
        const wsport = !{jsStringify(wsport)};
    script(type='text/javascript', src='/static/js/index.js')